<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KP.Properties.Settings.KPConnectionString" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=KP;Persist Security Info=True;User ID=KP"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>